/* 
    Document   : general_operation
    Created on : Oct 21, 2013, 9:27:32 PM
    Author     : Trycatch(TM) Chiangmai
    Description:
        Purpose of the stylesheet follows.
*/

@import url('../fonts/th_sarabun.css');
@import url('../fonts/thaisanlite.css');

.txt_left{
    text-align: left;
}

.txt_right{
    text-align: right;
}

.txt_center{
    text-align: center;
}

.txt_shadow{
    text-shadow: 1px 1px 2px #000;
}

.txt_ittalic{
    font-style: italic;
}

.txt_justify{
    text-align: justify;
}

.txt_upper{
    text-transform: uppercase;
}

.relative{
    position: relative !important;
}

.padding_bottom_10{
    padding-bottom: 10px;
}

.th_sarabun{
    font-family: 'sarabun',sans-serif;
}

.th_san{
    font-family: 'thai_sans_literegular',sans-serif;
}

.red{
    color: #ff0000;
}

.absolute_center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.margin_top_10{
    margin-top: 10px;
}

.margin_top_20{
    margin-top: 20px;
}