/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2014, 9:58:30 AM
    Author     : frankent
*/

@import "../fonts/carbonbl.css";
@import "../fonts/jellyka_estrya.css";
@import "general_operation.css";

body{
    background: url('../image/bg_gray.png');    
}

.default_font{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.carbon{
    font-family: 'carbon_blockregular',sans-serif;
}

.jellyka{
    font-family: 'jellyka',sans-serif;
}

.web_format h1,.web_format h2,.web_format h3,.web_format h4,.web_format h5,.web_format h6{
    font-family: 'carbon_blockregular',sans-serif;
}

.web_format thead{
    background-color: #cc8855;
}

.orange{
    color: #e66745;
}

.light-orange{
    color: #fe9b86;
}

.gray{
    color: #666;
}

.white{
    color: #fff;
}

a.hover_elephant, a.hover_elephant_album{
    background-image: url('../image/elephant_normal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: block;
}

a.hover_elephant img, a.hover_elephant_album img{
    opacity: 0;
}

a.hover_elephant_album{
    background-image: url('../image/Gusetalbum_normal.png');
}

ul.menumain{
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 6px;
    right: 17px;
}

ul.menumain > li{
    list-style: none;
    display: inline-block;
    font-size: 24px;
    font-style: italic;
    margin: 0 11px;
    font-family: 'carbon_blockregular',sans-serif;
}
ul.menumain li > a{
    color: inherit;
}

ul.menumain li a .caret{
    border-top: 4px solid #666 !important; 
}

ul.menumain li a:hover, ul.menumain li a.active{
    color: #e66745;
}

ul.menumain li a:hover .caret, ul.menumain li a.active .caret{
    border-top: 4px solid #e66745 !important; 
}

.footer{
    background: #464646;
    padding: 15px 0px;
    margin-top: 30px;
}

ul.address_footer{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    line-height: 16px;
}

ul.address_footer li{
    margin: 0px;
    list-style: none;
}

ul.address_footer li b{
    display: inline-block;
    width: 100px;
}

.orange_ribbon{
    min-height: 360px;
    background: url('../image/bg_orange.png') repeat-x center;
}

.nivo-controlNav{
    display: none;
}

.logo_site{
    background-image: url('../image/header_logo.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.logo_site img{
    opacity: 0;
}

.welcome_text p{
    font-size: 13px;
    font-style: italic;
    text-indent: 30px;
}

.welcome_text p.title_welcome{

}    

.holder_album{
    height: 263px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.holder_album.landscape{
    background-size: auto 100%;
}

.holder_album.portrait{
    background-size: 100% auto;
}

.holder_album.original{
    background: url('../image/contactus_logo.png') no-repeat center; 
}

a .holder_title{
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-bottom: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9) 120%);
    text-shadow: -1px -1px 1px #333, 1px 1px 1px #000;
    font-weight: bold;
}

.trip_cover{
    padding: 35px 20px 20px;
    background-color: #999;
}

.margin_top_menu{
    height: 200px;
}

.lang_btn{
    margin-top: 45px;
    display: inline-block;
}

.slide_frame_mini{
    background: url('../image/sidebar_gallery_base.png') no-repeat center;
    height: 300px;
}

.mini_slide{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    margin: auto;
    top: 17px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 250px;
    height: 182px;
}

.mini_slide a.nivo-prevNav, .mini_slide a.nivo-nextNav{
    /*    width: 20px;
        height: 41px;
        overflow: hidden;
        text-indent: 100px;*/
    display: none;
}
/*
.mini_slide a.nivo-prevNav{
    background: url('../image/sidebar_gallery_arrow_left.png') no-repeat center;
}

.mini_slide a.nivo-nextNav{
    background: url('../image/sidebar_gallery_arrow_right.png') no-repeat center;
}*/

a.view_more{
    background: url('../image/sidebar_gallery_viewmore.png') no-repeat center;
    width: 82px;
    height: 82px;
    display: block;
    position: absolute;
    bottom: 13px;
    left: 28px;
    z-index: 99;
}

a.view_more:hover{
    opacity: 0.7;
}

a.custom_nav {
    width: 20px;
    height: 41px;
    position: absolute;
    overflow: hidden;
    text-indent: 100px;
    display: block;
    top: 137px;
}

a.custom_nav.custom_nav_next{
    background: url('../image/sidebar_gallery_arrow_right.png') no-repeat center;
    right: 38px;
}

a.custom_nav.custom_nav_prev{
    background: url('../image/sidebar_gallery_arrow_left.png') no-repeat center;
    left: 38px;
}

@media (max-width: 1024px) {
    .holder_album{
        height: 324px;
    }

    /*    a .holder_title{
            width: 324px;
        }*/

    .margin_top_menu{
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .lang_btn{
        margin-top: 0px;
        display: inline-block !important;
    }

    .menu_btn{
        display: inline-block !important;
    }

    .orange_ribbon{
        min-height: 0px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    ul.address_footer li b{
        display: inline;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .holder_album{
        height: 293px;
    }

    a .holder_title{
        width: 293px;
    }

    .mini_slide{
        top: 20px;
    }
}

@media (min-width: 1280px) {

}